hydra-core
hydra-colorlog
lightning
torch >= 2.1 --index-url https://download.pytorch.org/whl/cu118
numpy
transformers
datasets
tiktoken
wandb
tqdm
pyrootutils  # standardizing the project root setup
flake8
jupyterlab
tensorboard
wandb
